.form{
    display:flex;
    flex-direction: column;
    align-content: center;
    margin-top:10px;
}
.btn3{
    background-color: skyblue;
    width:100%;
}
#user, #comment{ /*<input><textarea>*/
    width: 100%;
}
#user{
    height: 40px;
    border-radius: 5px;
    border-color: #fff;
}
#comment{ /*<textarea>*/
    height: 200px;
}
.btn2{
    background-color:transparent;
    color:tan;
    display: flex;
    justify-content: space-evenly;
}
.last-comment{ /*<p>GET RESULTS</p>*/
margin: 10px 0 0 0;
text-align: justify;
}
.fa-chevron-circle-left, .fa-chevron-circle-right{
    color:tan;
    font-size:30px;
    width:90%;
    text-align: right;
}