a{
    color:#fff;
}
a:hover{
    color:#fff;
}
.fa-angle-double-down{
    font-size: 30px;
    text-align: center;
    width: 100%;
}
.arrow{
    color:#8e80a9;
}
.arrow:hover{
    color: #198754;
    transition: ease 3s;
    font-size: 45px;
    border-bottom: 1px solid #198754;
}
.farrow{ /*<form> containing the arrow icon*/
    padding: 10px 0 0 0;
}
.cartInfo{
    text-align: center;
    font-size:20px;
}